In [3]:
%matplotlib inline
import pandas as pd
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
from pandas import *
import csv
from datetime import datetime
from dateutil import relativedelta
import argparse
import numpy as np
from itertools import chain
import math
import copy
pd.set_option('display.max_columns', 45)
import re
from dateutil.relativedelta import *

In [10]:
def partitioning(dataset, start_date, end_date): # choose what start and end date you want for you dataframe 
     principio =   int(dataset[dataset['date']== start_date].index.values[0])
    
     fin = int(dataset[dataset['date']== end_date].index.values[0])+1
     
     dataset = dataset[principio:fin].reset_index(drop=True)
     
     dataset['Timestamp'] = pd.DatetimeIndex(dataset['date'])#prophet readable datetime format

     #      dataset = dataset.rename(columns={'DATE_TIME': 'ds','DEMAND': 'y'})
    
     dataset['week#'] = dataset['date'].dt.week
     
     dataset['day#'] = dataset['date'].dt.day
     
     dataset['dayofweek#'] = dataset['date'].dt.dayofweek
     
     dataset['dayofyear#'] = dataset['date'].dt.dayofyear
    
     dataset['hour#'] = dataset['date'].dt.hour
     
    
     return dataset

In [11]:
df = pd.read_csv(".\static\data\monterrey_Total_P.csv")
df['date'] = pd.to_datetime(df.Timestamp, dayfirst=True)
part_df = partitioning(df,df.date[0],df.date[len(df.date)-1])
del part_df['Timestamp']
del part_df['Unnamed: 0']
part_df

,Total,date,week#,day#,dayofweek#,dayofyear#,hour#
0,577.019897,2020-11-30 00:00:00,49,30,0,335,0
1,564.285583,2020-11-30 01:00:00,49,30,0,335,1
2,552.912170,2020-11-30 02:00:00,49,30,0,335,2
3,561.570068,2020-11-30 03:00:00,49,30,0,335,3
4,568.570007,2020-11-30 04:00:00,49,30,0,335,4
5,572.646545,2020-11-30 05:00:00,49,30,0,335,5
6,572.796509,2020-11-30 06:00:00,49,30,0,335,6
7,569.288208,2020-11-30 07:00:00,49,30,0,335,7
8,559.199341,2020-11-30 08:00:00,49,30,0,335,8
9,550.328064,2020-11-30 09:00:00,49,30,0,335,9
10,549.957092,2020-11-30 10:00:00,49,30,0,335,10
11,555.201172,2020-11-30 11:00:00,49,30,0,335,11
12,556.329834,2020-11-30 12:00:00,49,30,0,335,12
13,552.350403,2020-11-30 13:00:00,49,30,0,335,13
14,546.361877,2020-11-30 14:00:00,49,30,0,335,14
15,532.676270,2020-11-30 15:00:00,49,30,0,335,15
16,506.821777,2020-11-30 16:00:00,49,30,0,335,16
17,473.100769,2020-11-30 17:00:00,49,30,0,335,17
18,436.801880,2020-11-30 18:00:00,49,30,0,335,18
19,402.610657,2020-11-30 19:00:00,49,30,0,335,19
20,379.801697,2020-11-30 20:00:00,49,30,0,335,20
21,374.524170,2020-11-30 21:00:00,49,30,0,335,21
22,384.216125,2020-11-30 22:00:00,49,30,0,335,22
23,404.314697,2020-11-30 23:00:00,49,30,0,335,23
24,431.085632,2020-12-01 00:00:00,49,1,1,336,0
25,461.975952,2020-12-01 01:00:00,49,1,1,336,1
26,493.759399,2020-12-01 02:00:00,49,1,1,336,2
27,521.577087,2020-12-01 03:00:00,49,1,1,336,3
28,540.719116,2020-12-01 04:00:00,49,1,1,336,4
29,549.089172,2020-12-01 05:00:00,49,1,1,336,5
...,...,...,...,...,...,...,...
138,482.952515,2020-12-05 18:00:00,49,5,5,340,18
139,459.052673,2020-12-05 19:00:00,49,5,5,340,19
140,443.031677,2020-12-05 20:00:00,49,5,5,340,20
141,430.889221,2020-12-05 21:00:00,49,5,5,340,21
142,419.747437,2020-12-05 22:00:00,49,5,5,340,22
143,409.796082,2020-12-05 23:00:00,49,5,5,340,23
144,400.880005,2020-12-06 00:00:00,49,6,6,341,0
145,392.934448,2020-12-06 01:00:00,49,6,6,341,1
146,388.990051,2020-12-06 02:00:00,49,6,6,341,2
147,392.236267,2020-12-06 03:00:00,49,6,6,341,3
148,402.237427,2020-12-06 04:00:00,49,6,6,341,4
149,416.065796,2020-12-06 05:00:00,49,6,6,341,5
150,428.700989,2020-12-06 06:00:00,49,6,6,341,6
151,434.518433,2020-12-06 07:00:00,49,6,6,341,7
152,433.448303,2020-12-06 08:00:00,49,6,6,341,8
153,429.022705,2020-12-06 09:00:00,49,6,6,341,9
154,426.868103,2020-12-06 10:00:00,49,6,6,341,10
155,433.587708,2020-12-06 11:00:00,49,6,6,341,11
156,451.251648,2020-12-06 12:00:00,49,6,6,341,12
157,475.534424,2020-12-06 13:00:00,49,6,6,341,13
158,500.563721,2020-12-06 14:00:00,49,6,6,341,14
159,521.560425,2020-12-06 15:00:00,49,6,6,341,15
160,531.785767,2020-12-06 16:00:00,49,6,6,341,16
161,527.544556,2020-12-06 17:00:00,49,6,6,341,17
162,510.309509,2020-12-06 18:00:00,49,6,6,341,18
163,485.832764,2020-12-06 19:00:00,49,6,6,341,19
164,462.471802,2020-12-06 20:00:00,49,6,6,341,20
165,442.823914,2020-12-06 21:00:00,49,6,6,341,21
166,428.848022,2020-12-06 22:00:00,49,6,6,341,22
167,426.044067,2020-12-06 23:00:00,49,6,6,341,23

In [12]:
# part_df.iloc[part_df.groupby('dayofyear#')['MONTERREY']]#.agg(pd.Series.idxmax)]#\
# #                             .sort_values(by=['dayofyear#']).reset_index(drop = True)
# part_df.iloc[part_df.groupby('dayofyear#')['MONTERREY'].agg(pd.Series.nlargest)]
# part_df.groupby('dayofyear#')['MONTERREY'].apply(pd.Series.nlargest)

data = part_df.groupby('dayofyear#').apply(lambda x: x.sort_values('Total',ascending=False)).reset_index(drop = True)

index_list = []

for i in data.index:
    if i%24 in [0,1,2,3]:# 24 will change depending on the values slected
        index_list.append(i)

datap2 = data.ix[index_list].reset_index(drop = True)
# datap2

C:\Users\goluk\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [13]:
price = pd.DataFrame(np.reshape(list(datap2.Total),(7,4)),columns=['top1_hour_price','top2_hour_price',\
                                                               'top3_hour_price','top4_hour_price'])
date = pd.DataFrame(np.reshape(list(datap2.date),(7,4)),columns=['top1_hour_date','top2_hour_date',\
                                                               'top3_hour_date','top4_hour_date'])
final_dataset = pd.concat([date, price], axis = 1)
final_dataset = final_dataset[['top1_hour_date', 'top1_hour_price','top2_hour_date', 'top2_hour_price',\
                               'top3_hour_date', 'top3_hour_price','top4_hour_date', 'top4_hour_price']]
final_dataset

,top1_hour_date,top1_hour_price,top2_hour_date,top2_hour_price,top3_hour_date,top3_hour_price,top4_hour_date,top4_hour_price
0,2020-11-30 00:00:00,577.019897,2020-11-30 06:00:00,572.796509,2020-11-30 05:00:00,572.646545,2020-11-30 07:00:00,569.288208
1,2020-12-01 06:00:00,549.327698,2020-12-01 05:00:00,549.089172,2020-12-01 07:00:00,546.466553,2020-12-01 08:00:00,542.126404
2,2020-12-02 06:00:00,537.992371,2020-12-02 07:00:00,537.102051,2020-12-02 10:00:00,537.056946,2020-12-02 05:00:00,536.524231
3,2020-12-03 11:00:00,600.445190,2020-12-03 12:00:00,599.379333,2020-12-03 10:00:00,594.976196,2020-12-03 13:00:00,592.679932
4,2020-12-04 09:00:00,756.442993,2020-12-04 10:00:00,755.974670,2020-12-04 11:00:00,748.604675,2020-12-04 08:00:00,748.138794
5,2020-12-05 07:00:00,611.794800,2020-12-05 06:00:00,610.978027,2020-12-05 08:00:00,609.392761,2020-12-05 05:00:00,602.383423
6,2020-12-06 16:00:00,531.785767,2020-12-06 17:00:00,527.544556,2020-12-06 15:00:00,521.560425,2020-12-06 18:00:00,510.309509

In [17]:
weekly_avg_rec = part_df.groupby('dayofyear#').mean().sort_values(by ='Total').reset_index(drop = True)
weekly_dict = {0.0:'Monday',1.0:'Tuesday',2.0:'Wednesday',3.0:'Thursday',4.0:'Friday',5.0:'Saturday',6.0:'Sunday'}
#a.apply(lambda x: x.sort_values('MONTERREY',ascending=False)).reset_index(drop = True)
# part_df
[weekly_dict[weekly_avg_rec['dayofweek#'][i]] for i in range(len(weekly_dict))]

['Sunday', 'Tuesday', 'Wednesday', 'Monday', 'Saturday', 'Thursday', 'Friday']